.container .img-auth {
    background-position: center;
    height: 100px;
    width: 100px;
}

.pass {
    float: right;
    margin-top: -33px;
    margin-right: 10px;
    position: relative;
    z-index: 2;
}